{% extends 'head.html' %}
{% load static %}
{% block content%}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <title>Job Hosting</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/price_rangs.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    
</head>

<body>
    <!-- Preloader Start -->
   
    
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/about.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <div class="form-group">
                                <div class="hero-cap text-center shadow">
                                    <h2>Post Job</h2>
                                </div>
                                <form class="form-contact contact_form"  enctype="multipart/form-data" method="post"  >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid text-light" name="title"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter job title'" placeholder=" Job Title">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid text-light" name="field"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Job'" placeholder="Enter field">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid text-light" name="location"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Required Skills'" placeholder="Location">
                                            </div>
                                        </div>                                        
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid text-light" name="education"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Required Skills'" placeholder="Education">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid text-light" name="experience"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Required Skills'" placeholder="Experience">
                                            </div>
                                        </div>      
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid text-light" name="image"   accept="image/*" type="file" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Required Skills'" placeholder="Experience">
                                            </div>
                                        </div>     
                                        
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid text-light" name="salary"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Required Skills'" placeholder="salary">
                                            </div>
                                        </div>     
        
                                       
                                       
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <textarea name="description" cols="30" rows="10"  class="form-control valid text-light"  placeholder="Description"></textarea>
                                             </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <textarea name="shortdes" cols="30" rows="10"  class="form-control valid text-light"  placeholder="Short Description"></textarea>
                                             </div>
                                            
                                        </div>
                                     
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control valid text-light" name="vaccancy"  type="number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'vaccancy'" placeholder="Vaccancy">
                                             </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control valid text-light" name="type"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'vaccancy'" placeholder="Job Type">
                                             </div>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <button type="submit" class="button button-contactForm boxed-btn btn-warnning">Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!--================Blog Area =================-->
                                    
                            

    <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/price_rangs.js' %}"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/animated.headline.js' %}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>


 
</body>
</html>
{% endblock content%}